{% extends "base.html" %}

{% block content %}
  <form action="/user-signup" method="post">
    <table>
      <tbody>
        <tr>
          <td>
            <label for="username">Username</label>
          </td>
          <td>
          <input type="text" name="username"><span class="error">That's not a valid username</span>
        </td>
        </tr>
        <tr>
          <td>
            <label for="password">Password</label>
          </td>
          <td>
            <input type="password" name="password">
            <span class="error">That's not a valid password</span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="verify">Verify Password</label>
          </td>
          <td>
            <input type="password" name="verify">
            <span class="error">Passwords don't match</span>
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email (optional)</label>
          </td>
          <td>
            <input name="email" type="text">
            <span class="error"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <input type="submit">
  </form>

{% if error %}
  <style type="text/css">
      .error {
          display: block;
          color: red;
        }
  </style>
  <!-- <p class='error' display='block'>{{ error }}</p> -->
{% endif %}
{% endblock %}
